<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/daffodils.ico" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>It me AlexKGM</title>
  </head>
  <body>
    <div class="container">
        <input type="checkbox" id="check" />
        <div class="login form">
          <header>Login</header>
          <form action="/login" method="POST">
            <input
              type="text"
              name="loginEmail"
              placeholder="Enter your email"
            />
            <input
              type="password"
              name="loginPass"
              placeholder="Enter your password"
            />
            <input type="submit" class="button" value="Login" />
          </form>
          <div class="signup">
            <span class="signup"
              >Don't have an account?
              <label for="check">Signup</label>
            </span>
          </div>
        </div>
      </form>
      <div class="registration form"> 
        <header>Signup</header>
        <form action="/register" method="POST">
          <input type="text" name="rEmail" placeholder="Enter your email" />
          <input type="password" name="rPass" placeholder="Create a password" />
          <input type="password" name="cPass" placeholder="Confirm your password" />
          <input type="submit" class="button" value="Signup" />
        </form>
        <div class="signup">
          <span class="signup"
            >Already have an account?
            <label for="check">Login</label>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
